# Day 2  Assignment-1

# Questions 1
List and its default functions

# 1) creation of list

In [1]:
colors=['red','green','blue']
days=['Monday','Tuesday','Wednesday',4,5,6,7.0]

# 2)display List

In [2]:
colors

['red', 'green', 'blue']

In [3]:
print(colors)
print(days)

['red', 'green', 'blue']
['Monday', 'Tuesday', 'Wednesday', 4, 5, 6, 7.0]

# 3)Slicing a Python List

In [4]:
days[2:]       #simple slicing

['Wednesday', 4, 5, 6, 7.0]

In [5]:
days[:-2]      #negative slicing

['Monday', 'Tuesday', 'Wednesday', 4, 5]

# 4)Reassigning a Python List (Mutable)

In [6]:
colors=['red','green','blue']

In [7]:
colors=['caramel','gold','silver','occur']  # Reassigning the whole Python list
colors

['caramel', 'gold', 'silver', 'occur']

In [8]:
colors[2:]=['bronze','silver']    #Reassigning a few elements
colors

['caramel', 'gold', 'bronze', 'silver']

In [9]:
colors[3]='occur' #Reassigning a single element
colors

['caramel', 'gold', 'bronze', 'occur']

# 5)Deleting the Python list

In [10]:
del days  #delete whole list
days

NameError: name 'days' is not defined

In [11]:
del colors[2:4]  #Deleting a few elements
colors

['caramel', 'gold']

In [12]:
del colors[0] #Deleting a single element
colors

['gold']

# 6)Multidimensional Lists in Python

In [13]:
a=[[[1,2],[3,4],5],[6,7]]
a

[[[1, 2], [3, 4], 5], [6, 7]]

In [14]:
a[0][1][1]

4

# 7)Concatenation of Python List

In [15]:
a,b=[3,1,2],[5,4,6]
a+b

[3, 1, 2, 5, 4, 6]

# 8)Built-in List Functions


len()  max()  min()  sum()  sorted()  list()

In [16]:
even = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [17]:
len(even)

10

In [18]:
max(even)

20

In [19]:
max(['1','2','3'])

'3'

In [20]:
min(even)

2

In [21]:
sum(even)

110

In [22]:
sorted([4,6,1,88,32,65,22,99])

[1, 4, 6, 22, 32, 65, 88, 99]

In [23]:
sorted([4,6,1,88,32,65,22,99],reverse=True)

[99, 88, 65, 32, 22, 6, 4, 1]

# 9) Built-in Methods

append() insert() remove() pop() clear() index() count() sort() reverse()

In [24]:
a=[2,1,3,5,2,4]
a

[2, 1, 3, 5, 2, 4]

In [25]:
a.append(9)
a

[2, 1, 3, 5, 2, 4, 9]

In [26]:
a.insert(3,7)
a

[2, 1, 3, 7, 5, 2, 4, 9]

In [27]:
a.remove(2)
a

[1, 3, 7, 5, 2, 4, 9]

In [28]:
print(a.pop(3))
a

5

[1, 3, 7, 2, 4, 9]

In [29]:
a.clear()
a

[]

In [30]:
a=[1,3,5,3,4]
a.index(3)

1

In [31]:
 a.count(3)

2

In [32]:
a.sort()
a

[1, 3, 3, 4, 5]

In [33]:
a.reverse()
a

[5, 4, 3, 3, 1]

# Questions 2
Dictionary and its default functions.

# Questions 3
Sets and its default functions.

# 1)Creating a Python Set

In [36]:
a={1,3,2}

In [40]:
b={1,2.0,'three'}

In [41]:
print(type(a),type(b))

<class 'set'> <class 'set'>

## 2)Accessing a Set in Python

In [42]:
a

{1, 2, 3}

In [43]:
b

{1, 2.0, 'three'}

In [44]:
# no slicing is possible in set

# 3)Deleting a Set

In [6]:
numbers={3,2,1,4,6,5}
numbers.discard(3)
numbers

{1, 2, 4, 5, 6}

In [7]:
numbers.remove(5)
numbers

{1, 2, 4, 6}

In [8]:
numbers.pop()
numbers

{2, 4, 6}

In [9]:
numbers.clear()
numbers

set()

## 4)Updating a Set

In [12]:
numbers={3,1,2,4,6,5}
numbers.add(3.5)
numbers

{1, 2, 3, 3.5, 4, 5, 6}

In [13]:
numbers.add(4) #repitation not allowed
numbers

{1, 2, 3, 3.5, 4, 5, 6}

In [14]:
numbers.update([7,8],{1,2,9})
numbers

{1, 2, 3, 3.5, 4, 5, 6, 7, 8, 9}

## 5)Functions on Sets

In [15]:
days={'Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday'}

In [16]:
len(days)

7

In [19]:
max({1,6,4,2,8,5})

8

In [21]:
min({1,6,4,2,8,5})

1

In [22]:
sum({1,6,4,2,8,5})

26

In [23]:
sorted({1,6,4,2,8,5})

[1, 2, 4, 5, 6, 8]

# 6)Methods on Sets

In [28]:
set1={1,3,5,2,5}
set2 ={2,8,7,9,4,1,6}

In [29]:
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [30]:
set1.intersection(set2)

{1, 2}

In [31]:
set1.difference(set2)

{3, 5}

In [32]:
set2.difference(set1)

{4, 6, 7, 8, 9}

In [33]:
set1.symmetric_difference(set2)

{3, 4, 5, 6, 7, 8, 9}

In [34]:
{1,2}.issubset({1,2,3})

True

In [35]:
{1,3,2}.isdisjoint({4,5,6})

True

In [37]:
{1,3,4}.issuperset({1,2})

False

In [39]:
'p' in {'a','p','p','l','e'} #membership function

True

# Questions 4
Tuple and explore default methods.

# 1)Create a Python Tuple

In [15]:
a=(1,2,3,4,5,6,7)

In [16]:
b= 1, 2.0, 'three'

In [17]:
print(type(a))
print(type(b))

<class 'tuple'>
<class 'tuple'>


## 2) Access Python Tuple

In [18]:
print(a) # acessing whole list

(1, 2, 3, 4, 5, 6, 7)

In [19]:
 a[4]    #Accessing a single item

5

## 3)slicing in tuple

In [20]:
a[:4]

(1, 2, 3, 4)

In [21]:
a[:-2]

(1, 2, 3, 4, 5)

In [22]:
a[3:-2]

(4, 5)

## 4)Deleting a Python Tuple

In [23]:
#tuple is immutable

del a[3]

TypeError: 'tuple' object doesn't support item deletion

In [24]:
del a

## 5) reassigning

In [ ]:
# reassigning is not possible

## 6)Tuple Functions

# len() ,max(),min(),sum () ,sorted()

In [27]:
a=(1,2,3,4,5)

In [31]:
print( "length :",len(a),"\nminimum", min(a),"\nmax",max(a),"\nsum",sum(a),"\nsort",sorted(a),"\ndescending",sorted(a,reverse=True))

length : 5
minimum 1
max 5
sum 15
sort [1, 2, 3, 4, 5]
descending [5, 4, 3, 2, 1]

# 7)Inbuilt method

In [34]:
 a=(1,2,3,2,4,5,2)

In [35]:
a.index(3)

2

In [36]:
a.count(2)`

3

## 8)Python Tuple Operations

In [37]:
#Concatenation
a=(1,2,3,4,5,6,7)
b=(8,9,10,11,12,13,14)
a+b

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14)

In [38]:
 #Membership
11 in a

False

# Questions 5
Strings and explore default methods.

# 1) Declare Python String

In [119]:
a='Dogs are love'
print(a)
print(type(a))

Dogs are love
<class 'str'>

In [123]:
b="hi this is Amey"
print(a)
print(type(a))

Dogs are love
<class 'str'>

# 2)Access Python String

In [124]:
#Displaying a single character
b[1]

'i'

In [125]:
b[-1]

'y'

# 3)Slicing a string

In [127]:
b[3:]

'this is Amey'

In [128]:
b[:8]

'hi this '

In [129]:
b[8:]

'is Amey'

In [130]:
b[:]

'hi this is Amey'

# 4)String Concatenation

In [131]:
a='Do you see this, '
b='$$?'
a+b

'Do you see this, $$?'

In [132]:
a='10'
print(2*a)

1010

# 5) String Functions

a. len()
b. str()
c. lower() and upper()
d. strip()
e. isdigit()
f. isalpha()
g. isspace()
h. startswith()
i. endswith()
j. find()
k. replace()
l. split()
m. join()

In [134]:
a="Amey"
len(a)

4

In [135]:
a=3453652
b=str(a)
print(type(b))

<class 'str'>

In [136]:
a="Amey"
print(a.lower())
print(a.upper())

amey
AMEY

In [ ]:
a = "A M E Y"

In [137]:
a.strip()

'Amey'

In [138]:
a='777'
a.isdigit()

True

In [139]:
a='77a'
a.isdigit()

False

In [140]:
a='abc'
a.isalpha()

True

In [141]:
a='ab7'
a.isalpha()

False

In [142]:
 a='   '
a.isspace()

True

In [143]:
 a=' \'  '
 a.isspace()

False

In [145]:
a="Amey Girkar"

In [147]:
a.startswith('Amey')

True

In [148]:
a.endswith('kar')

True

In [149]:
a.find('a')

9

In [150]:
a.replace('a',"@")

'Amey Girk@r'

In [151]:
a.split()

['Amey', 'Girkar']

# 6) String Operations

In [153]:
#Comparison
'Ameyagirkar' <'Ameya girkar'

False

In [154]:
a='amey'
b='amey'
a==b

True

In [155]:
'ba'+'na'*2

'banana'

In [156]:
'na' in 'banana'

True

In [157]:
'less' not in 'helpless'

False